.launch-card {
    box-shadow: 3px 3px 10px 0.5px rgba(0, 0, 0, 0.1);
}

.launch-card:hover {
    transition: all 600ms;
    transform: translateY(-10px);
}

.get-started {
    margin: 9em;
}

Link {
    text-decoration: none;
}

.outer-container {
    background-color: #b2b5bd;
}

button {
    margin: 0 auto !important;
    display: block !important;
}

.name {
    font-family: 'Poppins', sans-serif;
    font-size: 760%;
    text-align: center;
    color: #ffffff;
}

.landing-header {
    padding: 6% 0 0 4%;
    font-family: 'Montserrat', sans-serif;
    font-size: 400%;
    text-align: left;
    color: white;
}

.landing-subtext {
    padding: 0 30% 5% 4%;
    font-family: 'Montserrat', sans-serif;
    font-size: 170%;
    text-align: left;
    color: #dcdcdc;
}

#intro {
    width: 100%;
    height: 320vh;
    background: #2660a4;
    overflow-x: hidden;
    overflow-y: hidden;
    background-size: cover;
    position: relative;
}

@media (min-width: 1024px) {
    #intro {
        background-attachment: fixed;
    }
}

.left-side {
    margin-left: 5%;
    margin-top: 10%;
    font-family: 'Muli', sans-serif;
}

.right-side {
    margin-right: 4%;
    margin-top: 4%;
}

.caption {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #e8e8e8;
    font-size: 250%;
    margin: 5%;
}

.sub-caption {
    font-family: 'Lato', sans-serif;
    color: rgb(194, 194, 194);
    font-size: 150%;
    margin: 5%;
}
